body {
    font-family: Arial, sans-serif;
    background-color: #f5f6ed;
}

.recetas-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;
    height: fit-content;
    color: #3F2811;
    ;
    
    
  }
  
  .receta {
    width: calc(50% - 20px);
    height: 350px;
    
  }
  
  .receta img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    margin-bottom: 5px;
    border-radius: 10px;
    border: 1px solid #3c240d;
  }

  .boton-edit-perfil{
    background-color: #edebe6;
    color: #3c240d;
    border-radius: 10px; 
    border:2px solid #3c240d;
    width: 160px;
    margin-top:5px;
    z-index: 1;
  }

  .boton-subir-receta{
    background-color: #d4d0c4;
    color: #3c240d;
    border-radius: 10px; 
    border:2px solid #3c240d;
    width: 160px;
    margin-top:5px;
    z-index: 1;
  }

  .p{
    color: #3c240d;
  }

  .titulos{
    border-radius: 10px;
    border: 1px solid #3c240d;
    background-color: #8b9a8a;
    color: #edebe6;
    text-align: center;
    
  }


 .btn-link.mostrar-mas {
  color: #3c240d;
  background-color: transparent;
}

.btn-link.mostrar-mas:hover {
  color: #8b9a8a;
  background-color: transparent;
}
